<div class="container-fluid position_fixed container2">
  <div class="row">
     <!-- Displays inventory status -->
    <div class="col-md-4">
      <% if current_admin.inventory >= 12 %>
        <h2 class="stats_title">Inventory Status</h2>
          <div class="stats_box stats_box_admin_size okay">
            <h4 class="stats_value"><%= current_admin.inventory %></h4>
          </div>
      <% else %>
        <h2 class="stats_title">Inventory</h2>
        <div class="stats_box stats_box_admin_size low">
          <h4 class="inventory_value"><%= current_admin.inventory %>
          <br>
          <% if current_admin.inventory == 0 %>
            EMPTY!</h4>
          <% else %>
            LOW!</h4>
          <% end %>
        </div>
      <% end %>
    </div>
  <!-- Displays total beer # purchases (count) -->
    <div class="col-md-4">
      <h2 class="stats_title">Purchased</h2>
      <div class="stats_box stats_box_admin_size">
        <h3 class="stats_value"><%= @users.sum(:beer_count) %></h3>
      </div>
    </div>
   
  <!-- Displays total beer purchases ($) -->
    <div class="col-md-4">
      <h2 class="stats_title">Revenue</h2>
      <div class="stats_box stats_box_admin_size">
        <h3 class="stats_value">$ <%= "%.2f" % (@users.sum(:beer_count) * 2.5) %></h3>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid position_fixed">
  <div class="row">
  <!-- Displays inventory status & total inventory -->
    <div class="col-md-4">
      <div class="inventory-update">
        <form method="POST" action="/admin/update_inventory">
          <button type="submit" class="btn btn-primary btn-lg"><div class="btn-inventory">Update Inventory</div></button><br>
          <input type="number" name="num_beers" class="inline-form col-md-4 input-lg" placeholder="Enter #">
          
        </form>
      </div> 
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>

<!-- User stats table: Consumer name, # beers bought, $spent -->
<div class="container table-margin">
  <div class="row">
  <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="table-scroll">
        <div class="panel panel-default">
          <div class="table-background">
            <table class="table table-condensed table-bordered table-hover">
              <tr>
                <th>User</th>
                <th class="leader_center">Qty.</th>
                <th class="leader_center">$ Spent</th>
              </tr>
              <% users = all_users_by_beer_count %>
              <% users.each do |user| %>
              <!-- #erb# for each user do-->
                <tr>
                  <td><%= user.username %></td>
                  <td class="leader_center"><%= user.beer_count %></td> 
                  <td class="leader_center"><%= "%.2f" % (user.beer_count * 2.5) %></td>
                </tr>
              <!-- #erb# end -->
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>





