<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
    <!-- Buy beer button & form -->
    <% if current_admin.inventory > 0 %>
      <div class="col-md-4 btn-padding">
        <form method="POST" action="/user/buy_beer">
          <!-- Custom button -->
          <script src="https://checkout.stripe.com/v2/checkout.js"></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>
          <button id="beerButton" class="buy_beer"><p class="beer_button_text">Buy<br/>Beer</p></button>
            <script>
              $('#beerButton').click(function(){
                var token = function(res){
                  var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                  $('form').append($input).submit();
                };

                StripeCheckout.open({
                  key:         'pk_test_Zp4xSsxUyGGq98so2JnstSnY',
                  currency:    'CAD',
                  name:        'BeerCred',
                  description: 'We love you',
                  panelLabel:  'Pay now',
                  token:       token
                });

                return false;
              });
            </script>
            
          <input type="number" name="num_beers" class="form-control form_input_num_beers" value="1" min="0" max="<%= current_admin.inventory %>">
        </form>
      </div>

    <% else %>

      <div class="col-md-4 text-center bg-danger">
        <h1>No beer in fridge! Contact bartender!</h1>
      </div>

    <% end %>
    <div class="col-md-4">
    </div>
  </div>
</div>

  
<div class="container-fluid user_stats">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
    <!-- Your Beercred stats box -->
      <h2 class="stats_title">Your BeerCred</h2>
          <div class="stats_box stats_box_admin_size">
            <h4 class="stats_value"><%= @user.beer_count %></h4>
          </div>
    </div>
    <div class="col-md-2">
    </div> 
    <div class="col-md-4">
      <!-- Leaderboard table -->
      <div class="panel panel-default table_style table-scroll table-margin">
        <table class="table table-condensed">
            <caption class="leader_title table_style">Leaderboard</caption>
            <thead>
              <tr>
                <th>BeerFriend</th>
                <th class="leader_center">BeerCreds</th>
              </tr>
            </thead>
            <tbody>
              <% all_users_by_beer_count.each_with_index do |user,index| %>
                <tr>
                  <td><%= index + 1 %>       <%= user.username %></td>
                  <td class="leader_center"><%= user.beer_count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-1">  
      </div>
    </div>
  </div>
</div>